::-webkit-scrollbar {
    display: none;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	@extend %f-normal;
	color: $black;
	font-size: 16px;
	position: relative;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
