::-webkit-scrollbar {
    display: none;
}

html,
body {
	width: 100vw;
	height: auto;
	@extend %f-normal;
	color: $black;
	font-size: 18px;
	line-height: 28px;
	position: relative;
	font-family: $font-normal;
}

#app {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
